ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;
}

/* Styles for header */


.logo-accent {
    color: #4d5ae5;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;

}

/* Styles for address */
.contacts {
    font-style: normal
}

.contacts-list {

    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}



/* Styles for main section */
.main-section {
    background-color: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
}

.main-btn:hover,
.main-btn:focus {
    background: #404bbf;
}


/* Styles for features section */

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;

}

.features-text {

    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Styles for team section */
.team-section {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}



.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-role {

    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Styles for portfolio section */


.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

}

.portfolio-list {
    background-color: #fff;
}


.portfolio-subtitle {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;

}

.portfolio-text {

    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Styles for footer */
.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {

    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}